html {
    /* Set default values for board colours and block size */
    --board-border-color: #82beec;
    --board-bg-color: #000;
    --block-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.snake-head {
    fill: #8cbc93;
    stroke:#4c8354;
    stroke-width: 2px;
    z-index: 1;
}

.snake-body {
    fill: #8cbc93;
    stroke:#4c8354;
    stroke-width: 2px;
    z-index: 1;
}

.board {
    border: 16px solid var(--board-border-color);
    background-color: var(--board-bg-color);
    border-radius: calc(var(--block-size) / 2);
}

.food {
    fill: #f00;
}

.game-over {
    border-color: #fcc !important;
}