html {
    /* Set default values for board colours and block size */
    --board-border-color: #82beec;
    --board-bg-color: #000;
    --block-size: 16px;
    --tick-ms: 250ms;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.snake-head {
    fill: #506b54;
    stroke: #4c8354;
    stroke-width: 2px;
    z-index: 1;
}

.snake-body {
    fill: #8cbc93;
    stroke: #4c8354;
    stroke-width: 2px;
    z-index: 1;
}

.board {
    border: 16px solid var(--board-border-color);
    background-color: var(--board-bg-color);
    border-radius: calc(var(--block-size) / 2);
}

.food {
    fill: #f00;
}

.animate-up {
    animation-name: slide-up;
    animation-duration: var(--tick-ms);
    animation-timing-function: linear;
}

.animate-down {
    animation-name: slide-down;
    animation-duration: var(--tick-ms);
    animation-timing-function: linear;
}

.animate-left {
    animation-name: slide-left;
    animation-duration: var(--tick-ms);
    animation-timing-function: linear;
}

.animate-right {
    animation-name: slide-right;
    animation-duration: var(--tick-ms);
    animation-timing-function: linear;
}

@keyframes slide-up {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, calc( 0px - var(--block-size)));
    }
}

@keyframes slide-down {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, var(--block-size));
    }
}

@keyframes slide-left {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(calc( 0px - var(--block-size)), 0);
    }
}

@keyframes slide-right {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(var(--block-size), 0);
    }
}